{% extends 'common.html' %}
{% load static %}
{% block content %}
    <body><br><br>
      <form action="{% url 'checked_user' %}" method="post">
          {% csrf_token %}
          <table align="center" border="0" width="300" >
              <tr>
                  <th class="sub-title">Checked_user_Form</th>
              </tr>
              <tr>
                  <th>
                      {{ forms }}
                  </th>
              </tr>
              <tr>
                  <th style="text-align: center">
                      <button type="submit" class="btn btn-warning">submit</button>
                  </th>
              </tr>
          </table>
      </form>
    </body>
{% endblock %}